/* تعریف فونت MRT_Mokhtar */
@font-face {
  font-family: "MRT_Mokhtar";
  src: url("mj_mokhtar-webfont.woff2") format("woff2"),
    url("mj_mokhtar-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* تعریف فونت MM_Wahm_Farsi */
@font-face {
  font-family: "Refaghat";
  src: url("refaghat-webfont.woff2") format("woff2"),
    url("refaghat-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Arial, sans-serif;
  background: #ebd467;
  text-align: center;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.container {
  max-width: 600px;
  margin: auto;
}
img {
  max-width: 100%;
}
#countdown {
  direction: rtl;
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
  font-family: "MRT_Mokhtar";
  color: #333;
}
.subscribe {
  margin-top: 8vh;
}
input[type="email"] {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  border: none;
  background: #d9534f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  margin-top: 20px;
}
.social a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5rem;
}
.animated-text {
  direction: rtl;
  height: 10vh;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Refaghat";
  color: #b3252b;
  white-space: normal; /* تغییر از nowrap به pre-line */
  /* border-right: 2px solid black; */
  /* padding-right: 20px; */
}
